<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>

<div class="panel panel-default items">
<table class="table table-bordered">
  <tbody>
    <tr>
      <th>Categories: </th>
      <th><%= @category %></th>
    </tr>
    <tr>
      <th>Inventory: </th>
      <th><%= @inventory %></th>
    </tr>
  </tbody>
</table>
</div>